
#map {
  height: 50vh;
}

#puzzlePieces {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

}

#puzzle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#main {
  display: grid;
  width: 100%;
  grid-template-areas:
  "wholeMap puzzle"
  "puzzlePieces puzzlePieces";
  grid-template-columns: 50% 50%;
}

