
#map
{
  height: 50vh;
}
#puzzlePieces
{
  height: 50vh;
}
#puzzle
{
  height: 50vh;
  width: 50%;

}
#main{
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas:
  "map puzzle"
  "controls controls"
  "puzzlePieces puzzlePieces";
}
