* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../images/style2/background.jpg");
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 36px;
}

header h2 {
  font-size: 24px;
}

#description {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#description h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#description p {
  font-size: 16px;
  margin-bottom: 10px;
}

#menu {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}

#menu h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#menu ul {
  list-style: none;

}

#menu li {
  font-size: 16px;
  margin-bottom: 5px;
}

#menu li:hover{
  text-decoration: underline;
  color: green;
  cursor: pointer;
}

#contactUs {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactUs h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


@media (max-width: 746px) {
  body {
    background-color: #f7f7f7;
  }

  header h1 {
    font-size: 24px;
  }

  header h2 {
    font-size: 18px;
  }

  #description {
    text-align: justify;
  }
}


