body {
  background-image: url("../images/style1/background.jpg");
  background-size: cover;
  background-position: center;

}

h1 {
  text-align: center;
  font-size: xxx-large;
  text-transform: uppercase;
}


h3 {
  font-size: 2.5em;
  background-color: aquamarine;
  width: fit-content;
  margin: 0 auto;
  border: solid black 3px;
}
@media (max-width: 746px) {
  section#description p
  {
    text-align: justify;
    margin: 0 auto;
  }
  section#description p:nth-child(even) {
    background-color: aqua;
  }

  section#description p:nth-child(odd) {
    background-color: wheat;

  }
  h2 {
    font-size: 2em;
    animation: banner 5s reverse infinite;

  }
  ul{
    text-align: center;
    list-style-position: inside;
    font-size: x-large;
  }


}
@media (min-width: 747px) {
  section#description p:nth-child(even) {
    text-align: justify;
    width: 50%;
    margin-left: 50%;
    background-color: aqua;
  }

  section#description p:nth-child(odd) {
    text-align: justify;
    width: 50%;
    background-color: wheat;

  }

  h2 {
    font-size: 2em;
    animation: banner 5s linear infinite;

  }


  ul {
    text-align: center;
    list-style-position: inside;
    font-size: x-large;

  }

}


header {
  display: block;
  overflow: hidden;
  animation: bannerBackground 1s linear infinite;
}

footer {
  text-align: center;
  background-color: green;
  width: fit-content;
  margin: 0 auto;
  border: dot-dash green 4px;
  font-size: 1.5em;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;

}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;

}

li {
  animation: infinite 20ms linear listItemBackground;

}

@keyframes banner {
  from {
    transform: translateX(-100%)
  }
  to {
    transform: translateX(100%)
  }
}

@keyframes bannerBackground {
  from {
    background-color: red;
  }
  to {
    background-color: green;
  }
}

@keyframes listItemBackground {
  from
  {
    background-color: blue;
  }
  to
  {
    background-color: green;
  }
}

